<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% with messages=get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}

               <li> {{message}} </li>

            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

        <h1>Flash messaging Example in flask</h1>

        <p>
            Do you wan to login <a href="{{url_for('login')}}">Login</a>
        </p>

</body>
</html>