<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Log In</h2>

    <form action="{{ url_for('login') }}" method="post">



        <b>Username</b> <br>
        <input type="text" name="username" id="">
        <br>
        <b>Password</b><br>

        <input type="text" name="password" id=""><br>
<br>
        <input type="submit" value="submit">




    </form>
</body>
</html>