<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <h1>Hello World</h1>
    <p>I am learning flask template with jinja2</p>
    The jinja2 template engine uses the following delimiters for escaping from HTML.
    <br>

    {% raw %}
    
    {% ... %} for Statements <br>
    {{ ... }} for Expressions to print to the template output <br>
    {# ... #} for Comments not included in the template output <br>
    ## ... ## for Line Statements <br>

    {% endraw %}

</body>
</html>