<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Enter your details</h3>
    <form action="/result" method="post">
    
        Your Name: <input type="text" name="name" id="name">
        <br>
        Math: <input type="text" name="math" id="math">
        <br>
        Physics: <input type="text" name="physics" id="physics">
        <br>
        Chemistry: <input type="text" name="chemistry" id="chemistry">
        <br>
        <input type="submit" value="submit">
    
    
    </form>
</body>
</html>